.order-page{
  &__list{
    list-style: 'none';
    
  }
 
}
  .equipment{
    border: 1px solid #000;
    display: flex;
    align-items: center;
    &__image{

    }
    &__state{

    }
    &__choose-link{

    }
  }
