<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="error_block">
        {% for err in get_flashed_messages()%}
            <li>{{ err }}</li>
        {% endfor%}
    </div>
    <div class="regform_div">
        <form method="post" action={{ url_for('auth.register') }} enctype="application/x-www-form-urlencoded">
            <input type="" name="email">
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="password" name="confirm_password">
            <input type="submit">
        </form>
    </div>
</body>
</html>