.project-section {
	text-align: center;
	&__title {
	}
	&__subtitle {
		margin: auto;
		max-width: 615px;
		border-bottom: 1px solid gray;
	}
}

.project {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	height: 420px;
	&__image {
		width: 100%;
		height: 100%;
		z-index: 1;
		position: relative;
		object-fit: cover;
		transition: all 0.5s;
	}
	&__overlay {
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 2;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 0.5s;
		background-color: rgba($color: #000000, $alpha: 0.5);
	}
	&__title {
		color: #fff;
	}
	&__subtitle {
		color: lightgray;
	}
	&:hover {
		.project {
			&__overlay {
				opacity: 1;
			}
			&__image {
				transform: scale(1.2);
			}
		}
	}
}
