@import './default-consts.scss';

//fonts =========>
@import './fonts/main.scss';
//=========>

:root {
  --dwawa: 5px;
}
:root.dark {
  --dwawa: 10px;
}

#__next,
html,
body {
  overflow: auto;
  height: 100%;
  position: relative;
}

html {
  font-size: 8px;
}

.main {
  padding-top: 8rem;
}

section,
header,
footer {
  font-family: 'PT Root UI';
  line-height: 135%;
}

a {
  color: $dark;
  font-family: 'Noah';
  text-decoration: none;
  &:hover {
    color: $red;
  }
}

.section {
  padding: 8rem 0;
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 4rem;
  }
}

.bs-card {
  transition: 0.1s ease-in-out;
  &:hover {
    transform: translate(-5%, -5%) scale(1.05);
    z-index: 1;
  }
  .card-img {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
}
.modal-dialog {
  font-size: 2rem !important;
}
.modal-title {
  font-size: 2.5rem;
}
.modal-footer {
  .btn {
    font-size: 1.5rem !important;
  }
}
footer {
  font-size: 2rem;
}

.input {
  background: #FFFFFF;
  border: 1px solid rgba(41, 34, 33, 0.2);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: #666666;
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 12px;
  outline: none;
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator{
    display: none;
  }
 
}


//publicComponents =========>
@import './public/header.scss';
@import './public/buttons.scss';
//=========>

//componentsStyles =========>
@import './calendar/calendar.scss';
@import './home/main-section.scss';
@import './home/facilities-section.scss';
@import './home/project-section.scss';
@import './home/order-page.scss';
//=========>
